# ---------------------------------------------------------
# Shared environment
# ---------------------------------------------------------

# Shared definitions
source "$HOME/.env-aliases.sh"
# ----- Environment variables -----
export OPENSSL_ia32cap="~0x4000000000000000"


# Configure nvm
export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"                    # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion
