# ---------------------------------------------------------
# Shared environment
# ---------------------------------------------------------

# Shared definitions
source "$HOME/.env-aliases.sh"

# Source proxy interface
source "$HOME/.dotfiles/proxy/proxy.sh"


# ----- Environment variables -----

# Fix antigravity 2.0 RNGT failed
export OPENSSL_ia32cap="~0x4000000000000000"


# ----- Environment configuration ------

# Auto-configure proxy based on system settings
proxy shell configure

# Configure nvm
export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"                    # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion
