[Unit]
Description=Redsocks2 transparent proxy redirector
Documentation=man:redsocks(8)
Before=shutdown.target
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=redsocks

ExecStartPre=/usr/local/bin/redsocks2 -t -c /etc/redsocks.conf
ExecStart=/usr/local/bin/redsocks2 -c /etc/redsocks.conf

Restart=on-failure
RestartSec=2

TimeoutStopFailureMode=kill
TimeoutStopSec=1min
KillMode=control-group

[Install]
WantedBy=multi-user.target
